.bio {
  display: flex;
  flex-direction: row;
}
/* reset*/
figure {
  margin: 0;
}

img {
  margin-top: 40px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  border-radius: 45px;
  flex: 1;
}

main .bio article {
  text-align: justify;
  flex: 1;
  padding-top: 2rem;
}

.bio article {
  padding: 0 2.5rem;
}

i {
  color: white;
}