img {
  margin-top: 40px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  border-radius: 45px;
  position: relative;
}

.align-left {
  position: absolute;
  left: 70px;
  top: 318px;
  width: 350px;
  box-sizing: border-box;
  text-align: justify;
}

.align-right {
  position: absolute;
  right: 70px;
  top: 318px;
  width: 350px;
  box-sizing: border-box;
  text-align: justify;
}

h3 {
  text-align: center;
}

ul {
  padding-right: 40px;
}

li {
  list-style-type: none;
  align-content: center;
  padding-bottom: 10px;
}