img {
  margin-top: 40px;
  border-style: solid;
  border-color: black;
  border-width: thick;
  border-radius: 45px;
  position: relative;
}

.career {
  position: absolute;
  left: 0;
  top: 318px;
  width: 300px;
  padding-left: 70px
}

.student {
  position: absolute;
  right: 0;
  top: 318px;
  width: 300px;
  padding-right: 70px
}