img {
  vertical-align: middle;
  border: thick solid black;
  border-radius: 45px;
}

.bio article {
  background-color: black;
  border-radius: 45px;
  max-width: 75%;
  padding: 0 2rem;
}

i {
  color: white;
}

.bio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bio img {
  flex-shrink: 1;
}

article,
.bio img {
  margin: 1.5rem auto;
}
