body,
html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../images/purple-background.jpg");
  background-size: cover;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  color: #ffebe6;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  text-shadow: -3px 6px 3px black;
  margin: 1rem auto;
}

nav {
  background: black;
  font-size: 40px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 30px;
  text-align: center;
}

a {
  text-decoration: underline;
  color: white;
}

nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
/* this makes the underline for nav hrefs */
nav a::after {
  transition: all 0.2s ease-in-out;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* this makes the underline for hrefs show */
nav a:hover::after {
  width: 100%;
}

a:visited {
  color: white;
}
/* shows which tab is the page you're on */
.active::after {
  width: 100%;
}
/* space between nav & footer */
.content {
  min-height: 100px;
}

li {
  display: inline-block;
  transition-duration: 0.5s;
}

li:hover {
  cursor: pointer;
}

ul li {
  position: relative;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
  left: 0;
  display: inline-block;
  background-color: #000;
}

ul li ul:hover,
ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  display: inline-block;
}

ul li ul li {
  clear: both;
  width: 100%;
}

footer {
  text-align: center;
  margin: 3rem;
}

footer a {
  display: inline-block;
  height: 35px;
  width: 35px;
  background-size: cover;
}

.github {
  background-image: url("../images/GitHub-Mark-Light-64px.png");
}

.linkedin {
  background-image: url("../images/In-2C-41px-R.png");
}

.contact {
  background-image: url("../images/review.png");
}