body {
  background-image: url("../images/purple-background.jpg");
  background-size: cover;
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 20px;
  color: #ffebe6;
  text-align: center;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}

nav {
  background: black;
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

a {
  text-decoration: none;
  color: white;
}

nav a {
  position: relative;
  display: inline-block;
}

/* this makes the underline for hrefs */
nav a::after {
  transition: all .2s ease-in-out;
  content: "";
  width: 0%;
  height: 2px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* this makes the underline for hrefs show */
nav a:hover::after {
  width: 100%;
}

a:visited {
  color: white;
}

.active::after {
  width: 100%;
}

.content {
  min-height: 150px;
}

footer {
  text-align: center;
}