main {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-auto-flow: row;
  grid-gap: 2em;
  justify-content: center;
}

/* content container for the webpage */
.content-wrapper {
  width: 100%;
  height: 100%;
}


/* card container */
.card-wrapper {
  height: 300px;
  width: 463px;
  perspective: 800px;
}

p {
  margin: 0;
}

/* card */
.card {
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transform-style: preserve-3d;
  transition: transform 1.5s;
}

/* front side of the card */
.front {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  line-height: 208px;
}

.front,
.back {
  border-radius: 10px;
}

.dogs {
  background-image: url("../images/adopt-a-dog.png");
  background-size: cover;
}

.kitties {
  background-image: url("../images/kitties.png");
  background-size: cover;
}

.archery {
  background-image: url("../images/archery.png");
  background-size: cover;
}

/* back side of the card */
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  transform: rotateY(-180deg);
  backface-visibility: hidden;

  color: #000000;
  text-align: center;
  line-height: 208px;
  font-family: 'Inconsolata', monospace;
}

.back i,
.back a,
.back a:visited {
  color: #000000;
  text-decoration: none;
}

/* flipping the card on hover */
.card:hover {
  transform: rotateY(-180deg);
}
