p {
  margin: 1rem auto;
}

button,
input,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1.5rem auto 2rem;
  border-radius: 15px;
  color: #480B34;
}

form {
  display: inline-block;
  background-color: #000000;
  border-radius: 5%;
  margin: 2rem auto;
}

input {
  text-align: center;
}

input[name="firstName"],
[name="lastName"] {
  text-transform: capitalize;
}

legend {
  margin: 0 auto;
}

label:first-child {
  margin-right: 2rem;
}

button {
  background-color: #3A9AFC;
  color: #FFFFFF;
  width: 50%;
  font-weight: bolder;
}

button,
input[type="radio"] {
  cursor: pointer;
}

.submit {
  display: block;
}

input:focus,
textarea:focus {
  outline: none;
  background-color: #FFEBE6;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}
